@font-face {
    font-family: "Comic Sans MS";
    src: url("../Comic_Sans_MS.ttf");
}

* {
    margin: 0;
    padding: 0;
    overflow-x:hidden;
}

body {
    background-color: black;
    font-family: "Comic Sans MS", Serif;
}

.header {
    background-color: rgb(59, 59, 59);
    padding: 10px;
    display: inline-flex;
    justify-content: space-around;
    min-width: 100vw;
}

.header > a {
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 18pt;
}

.main {
    padding: 50px;
    background-color: darkgrey;
    width: 100vw;
}

.main > h2 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(59, 59, 59);
    font-size: 26pt;
}

.main > a {
    text-decoration: none;
    margin-bottom: 20px;
    color: rgb(59, 59, 59);
    font-size: 16pt;
    display: block;
    text-align: center;
}

.main > p {
    text-align: center;
    margin-bottom: 20px;
    color: rgba(231, 231, 231, 1);
    font-size: 16pt;
    font-weight: bolder;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    background-color: lightgray;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.box > a {
    font-weight: bold;
    font-size: 14pt;
}

.box-title {
    background-color: rgb(59, 59, 59);
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.box-menu {
    display: flex;
    justify-content: space-between;
    background-color: black;
    border-radius: 5px;
}

.box-menu > button {
    border: none;
    background-color: black;
    color: white;
    height: 5vh;
    width: 6vw;
    font-size: 12pt;
    font-family: "Comic Sans MS", Serif;
    border-radius: 5px;
}

input {
    border-radius: 5px;
    height: 5vh;
    border: none;
    font-family: "Comic Sans MS", Serif;
}

select {
    border-radius: 5px;
    height: 5vh;
    border: none;
    font-family: "Comic Sans MS", Serif;
    width: 169px;
}


form > button {
    border: none;
    background-color: black;
    color: white;
    height: 5vh;
    width: 6vw;
    font-size: 12pt;
    font-family: "Comic Sans MS", Serif;
    border-radius: 5px;
}

.roommenu {
    margin-top: 10px;
}

.unitmenu {
    margin-bottom: 10px;
}

.footer {
    background-color: black;
    text-align: center;
    padding: 20px;
    width: 100vw;
}

.footer > p {
    color: blanchedalmond;
    font-size: 16pt;
}

.header > form {
    margin-top: 20px;
}

.pre-form > form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 5px;
    background-color: lightgray;
}

.pre-form > form > label {
    margin: 20px;
}

.pre-form > form > button {
    margin-bottom: 20px;
    margin-left: 20px;
}


.pre-form {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.log {
    margin-left: 32px;
}

.pass {
    margin-left: 23px;
}

.fnam {
    margin-left: 43px;
}

.lnam {
    margin-left: 9px;
}

.pat {
    margin-left: 10px;
}

.prof {
    margin-left: 45px;
}

form > a {
    color: rgb(59, 59, 59);
    text-decoration: none;
    margin-left: 20px;
    font-size: 12pt;
    margin-bottom: 5px;
}

a:hover {
    color: rgb(255, 78, 225);
}

input:focus {
    background-color: rgb(59, 59, 59);
    color: white;
    font-weight: bold;
}

select:focus {
    background-color: rgb(59, 59, 59);
    color: white;
}

button:hover {
    color: rgb(255, 78, 225);
}

.edit {
    width: 7vw;
}

.utit {
    margin-left: 5px;
}

.utyp {
    margin-left: 45px;
}

.num {
    margin-left: 70px;
}

.rtit {
    margin-left: 51px;
}

.rtyp {
    margin-left: 95px;
}

.sq {
    margin-left: 55px;
}

.ct {
    margin-left: 35px;
}

.uni {
    margin-left: 10px;
}