@font-face {
    font-family: "Comic Sans MS";
    src: url("../Comic_Sans_MS.ttf");
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    overflow-x:hidden;
    font-family: "Comic Sans MS", Serif;
}

.header {
    background-color: rgb(59, 59, 59);
    padding: 20px;
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
}

.header > a {
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 18pt;
}

.main {
    height: 70vh;
    padding: 50px;
    background-color: darkgrey;
}

.main > h2 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(59, 59, 59);
    font-size: 26pt;
}

.main > a {
    text-decoration: none;
    margin-bottom: 20px;
    color: rgb(59, 59, 59);
    font-size: 16pt;
    display: block;
    text-align: center;
}

.main > p {
    text-align: center;
    margin-bottom: 20px;
    color: rgba(231, 231, 231, 1);
    font-size: 16pt;
    font-weight: bolder;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    background-color: lightgray;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.box > a {
    font-weight: bold;
    font-size: 14pt;
}

.box-title {
    background-color: rgb(59, 59, 59);
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.box-menu {
    display: flex;
    justify-content: space-between;
    background-color: black;
    border-radius: 5px;
}

.box-menu > button {
    border: none;
    background-color: black;
    color: white;
    height: 5vh;
    width: 6vw;
    font-size: 12pt;
    font-family: "Comic Sans MS", Serif;
    border-radius: 5px;
}

.roommenu {
    margin-top: 10px;
}

.unitmenu {
    margin-bottom: 10px;
}

.footer {
    background-color: black;
    text-align: center;
    padding: 20px;
}

.footer > p {
    color: blanchedalmond;
    font-size: 16pt;
}